/* header styling */


.header {
    font-size: 2rem;
    font-family: Rockwell;




    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: fit-content;
}
/* divider section styling */


/* divider 1 */

.divider-1 {
    height: 20px;
    background: linear-gradient(to right, #b700ff, #00ffdd);
    background-size: 200% 100%;
    width: 100%;
    margin: 5px auto;
    border-radius: 1px;
    animation: gradient-shift 5s infinite linear;
    position: relative;
    transform: scale(1.1);
}


@keyframes gradient-shift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.divider-1:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}


/* divider 2 */

.divider-2 { /* blank space divider */
    height: 100px;
    width: 100%;
}




/* coding section and coding images styling */


.coding {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: fit-content;


    background-color: rgba(172, 202, 247, 0.349);
}


.coding-header {
    font-size: 3rem;
    font-family: Impact;
}


.coding-images {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin: auto;
    width: fit-content;
    flex-direction: row;
}


.coding-images img {
    width: 50%;
    height: 50%;
    margin: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    background-color: rgba(81, 197, 226, 0.349);
    padding: 5px;
}


.image-container {
    font-size: 2.5rem;


    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


/* mathematics section styling */

.math {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 100%;


    background-color: rgba(10, 49, 107, 0.637);
}


.math-header {
    font-size: 5rem;
    font-family: Impact;
    border: 2px solid black;
    padding: 20px;
    margin: 20px auto;
    box-sizing: border-box;
    border-radius: 25px;
    box-shadow: 0 0 10px rgb(100, 242, 252);
}

/* stats section */

.statistics {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    margin-left: 35px;
    font-family: Helvetica;
    gap: 20px;
}
.statistics-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}
.statistics h3 {
    font-size: 2rem;
}
.statistics p {
    font-size: 1.2rem;
    font-family: Arial;
    width: 500px;
}

.statistics img {
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    margin-right: 130px;
}

/* number theory section */
.number-theory {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    margin-right: 35px;
    font-family: Helvetica;
    gap: 20px;
    flex-direction: row-reverse;
}

.number-theory-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.number-theory h3 {
    font-size: 2rem;
}

.number-theory p {
    font-size: 1.2rem;
    font-family: Arial;
    width: 500px;
}

.number-theory img {
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    margin-left: 130px;
}

/* combinatorics section */

.combinatorics {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    margin-left: 35px;
    font-family: Helvetica;
    gap: 20px;
}

.combinatorics-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.combinatorics h3 {
    font-size: 2rem;
}
.combinatorics p {
    font-size: 1.2rem;
    font-family: Arial;
    width: 500px;
}

.combinatorics img {
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    margin-right: 130px;
}

/* data science styling */

.datascience-ML {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    background-color:#0400ff8e
}

.datascience-header {
    font-size: 5rem;
    font-family: Impact;
    border: 2px solid black;
    padding: 20px;
    margin: 20px auto;
    box-sizing: border-box;
    border-radius: 25px;
    box-shadow: 0 0 10px #21fc04;
}

.datascience h3 {
    font-size: 2rem;
    font-family: impact;
}



/* Scroll button styling */


.scroll-buttons button {
    background-color: rgba(13, 61, 133, 0.349);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    gap: 50px;
}




.scroll-buttons button:hover {
    background-color: rgba(7, 34, 75, 0.651);
    font-weight: bold;
}




.scroll-buttons button:active {
    background-color:rgba(4, 21, 46, 0.767);
}







